/* Pop-Up pour accepter l'utilisation de cookies */

.boutons-cookies {
    width: auto;
    font-family: roboto, sans-serif;
    font-size: 1em;
    margin-right: 1vw;
    border: none;
    padding: 0.3vw;
    color: white;
    background-color: #5c88da;
}

.boutons-cookies:hover {
    background-color: rgb(255, 194, 82);
}

.liens-boutons {
    color: white;
}

.liens-boutons:hover {
    color: white;
}
